<%= form_with model: candidate do |form| %>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div>
    <%= form.label :phone %>
    <%= form.telephone_field :phone %>
  </div>
  <div>
  <%= form.label :email %>
  <%= form.email_field :email %>
</div>
<div>
<%= form.label :status %>
<%= form.select :status, Candidate.statuses.keys.map { |s| [s.humanize, s] }, 
               { class: "form-control" } %>
</div>
<div>
<%= form.label :resume, style: "display: block" %>
<%= form.file_field :resume, accept: ".pdf,.doc,.docx,.txt,.rtf,.odt" %>
</div>
<%= form.label :cover_letter, style: "display: block" %>
<%= form.file_field :cover_letter, accept: ".pdf,.doc,.docx,.txt,.rtf,.odt" %>
</div>
    <div class="form-button">
      <%= form.submit %>
    </div>
  <% end %>